#
# Character device configuration
#

menu "CSM1201 DF driver"

config ORION_DF
	tristate "ORION platform DF driver"
	depends on ARCH_ORION_CSM1201
				
config KERNEL_DF_DEBUG
	bool "DF Debugging"
        depends on ORION_DF
	help
	  This turns on low-level debugging for the ORION DF driver.
	  Normally, you should say 'N'.

endmenu

